<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducir Número de Mesa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Introducir Número de Mesa</h1>
        <form action="{{ url_for('seleccionar_mesa') }}" method="POST">
            <label for="mesa">Número de Mesa:</label>
            <input type="number" id="mesa" name="mesa" required class="form-control"><br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
